
/*
 ####################################
            PROXIMANOVA FONT
 ####################################
 */


@font-face {
    font-family: ProximaNova;
    src: url('ProximaNova/ProximaNova-Thin-webfont.woff');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: ProximaNova;
    src: url('ProximaNova/ProximaNova-Light-webfont.woff');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: ProximaNova;
    src: url('ProximaNova/ProximaNova-Reg-webfont.woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('ProximaNova/ProximaNova-Sbold-webfont.woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: ProximaNova;
    src: url('ProximaNova/ProximaNova-Bold-webfont.woff');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('ProximaNova/ProximaNova-Xbold-webfont.woff');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('ProximaNova/ProximaNovaCond-Bold-webfont.woff');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('ProximaNova/ProximaNovaCond-Sbold-webfont.woff');
    font-style: normal;
    font-weight: 500;
}

/*
 ####################################
            NOTOSANS FONT
 ####################################
 */


@font-face {
    font-family: NotoSans;
    src: url('Noto_Sans/NotoSans-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: NotoSans;
    src: url('Noto_Sans/NotoSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: NotoSans;
    src: url('Noto_Sans/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: NotoSans;
    src: url('Noto_Sans/NotoSans-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}