body {
  position: relative;
  font-family: ProximaNova, sans-serif, Arial;
}
.wrapper {
  max-width: 1920px;
  min-width: 1024px;
  width: 100%;
  position: relative;
  margin: auto;
}
header {
  height: 4em;
  background-color: #206b94;
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .logo-section {
  float: left;
  width: 20%;
  height: 4em;
  line-height: 3.5em;
  padding: 0 20px;
}
header .logo-section img {
  width: 50%;
  height: auto;
}
header .navigation-section {
  float: right;
  width: 80%;
}
header .navigation-section ul {
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: 4em;
  text-align: right;
}
header .navigation-section ul li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 1.5em;
}
header .navigation-section ul li a {
  color: #ffffff;
  padding: 0 10px;
  font-weight: 500;
  display: inline-block;
}
header .navigation-section ul li a:hover {
  text-decoration: none;
}
.header-space {
  margin-top: 4em;
}
nav.side-navigation {
  width: 17%;
  position: fixed;
  border-right: 1px solid #f7f7f7;
  height: 100%;
  left: 0;
}
nav .nav-wrap {
  padding: 10px 20px;
}
nav .nav-wrap ul {
  padding: 0;
  margin: 0;
}
nav .nav-wrap ul li {
  list-style: none;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
nav .nav-wrap ul li a {
  color: #333333;
}
nav .nav-wrap ul li.list-title {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #939da3;
  padding-bottom: 15px;
}
nav .nav-wrap ul li.nest {
  padding-top: 15px;
}
div.main-content {
  width: 83%;
  margin-left: 17%;
  height: 100%;
  right: 0;
}
section {
  position: relative;
}
section table {
  border-collapse: collapse;
  width: 100%;
}
section table tr td {
  width: 50%;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
section table tr td .group-area {
  min-height: 10em;
  height: auto;
  padding: 1em 20px;
  background-color: #ffffff;
}
section table tr td .group-area .title {
  color: #206b94;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 1em 0;
}
section table tr td .group-area .content {
  line-height: 2;
  padding-top: 10px;
  font-size: 15px;
}
section table tr td .group-code {
  background-color: #25323A;
  min-height: 10em;
  height: auto;
  position: relative;
  color: #ffffff;
  padding: 0 20px;
}
section table tr td .group-code.nav-space {
  padding-bottom: 4em;
}
section table tr td .group-code .code-wrap {
  overflow: auto;
}
section table tr td .group-code .content {
  padding-top: 10px;
}
section table tr td .code-nav {
  width: 41.45%;
  height: 4em;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #242729;
  color: #d0d4d7;
  box-sizing: border-box;
  font-size: 13px;
  z-index: 10;
}
section table tr td .code-nav ul {
  padding: 10px 20px;
  margin: 0;
  height: 100%;
}
section table tr td .code-nav ul li {
  display: inline-block;
  padding: 6px 10px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: 10px;
}
section table tr td .code-nav ul li.selected {
  background-color: #55B6EF;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #55B6EF;
}
section table tr td .code-nav ul li.selected:hover {
  border: 1px solid #55B6EF;
}
section table tr td .code-nav ul li:hover {
  border: 1px solid #33383B;
  border-radius: 4px;
}
section table tr td:first-child {
  border-bottom: 1px solid rgba(153, 153, 153, 0.1);
}
section table tr td:last-child {
  background-color: #25323A;
  border-bottom: 1px solid #344047;
}
pre {
  display: block;
  font-size: 13px;
  line-height: 1;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  width: 40em;
  overflow: auto;
}
code {
  width: 80em;
}
pre code {
  white-space: inherit;
}
