body{
  position: relative;
  font-family: ProximaNova, sans-serif, Arial;
}
.wrapper{
  max-width: 1920px;
  min-width: 1024px;
  width:100%;
  position: relative;
  margin: auto;
}
header{
  height: 4em;
  background-color: #206b94;
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  .logo-section{
    float: left;
    width: 20%;
    height: 4em;
    line-height: 3.5em;
    padding: 0 20px;
    img{
      width: 50%;
      height: auto;
    }
  }
  .navigation-section{
    float: right;
    width: 80%;
    ul{
      padding: 0;
      margin: 0;
      height: 100%;
      line-height: 4em;
      text-align: right;
      li{
        display: inline-block;
        text-transform: uppercase;
        margin-right: 1.5em;
        a{
          color:#ffffff;
          padding: 0 10px;
          font-weight: 500;
          display: inline-block;
        }
        a:hover{
          text-decoration: none;
        }
      }
    }
  }
}
.header-space{
  margin-top: 4em;
}
nav{
  &.side-navigation{
    width: 17%;
    position: fixed;
    border-right: 1px solid #f7f7f7;
    height: 100%;
    left: 0;
  }
  .nav-wrap{
    padding: 10px 20px;
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        a{
          color: #333333;
        }
        &.list-title{
          font-size: 13px;
          font-weight: 500;
          line-height: 18px;
          text-transform: uppercase;
          color: #939da3;
          padding-bottom: 15px;
        }
        &.nest{
          padding-top: 15px;
        }
      }
    }
  }
}
div{
  &.main-content{
    width: 83%;
    margin-left: 17%;
    height: 100%;
    right: 0;
  }
}

section{
  position: relative;
  table{
    border-collapse: collapse;
    width: 100%;
    tr{
      td{
        width: 50%;
        vertical-align: top;
        position: relative;
        overflow: hidden;
        .group-area{
          min-height: 10em;
          height: auto;
          padding: 1em 20px;
          background-color: #ffffff;
          .title{
            color: #206b94;
            font-size: 30px;
            font-weight: 200;
            text-transform: uppercase;
            padding: 1em 0;
          }
          .content{
            line-height: 2;
            padding-top: 10px;
            font-size: 15px;
          }
        }
        .group-code{
          background-color: #25323A;
          min-height: 10em;
          height: auto;
          position: relative;
          color:#ffffff;
          padding: 0 20px;
          &.nav-space{
            padding-bottom: 4em;
          }
          .code-wrap{
            //width: 40em;
            overflow: auto;
          }
          .content{
            padding-top: 10px;
          }
        }
        .code-nav{
          width: 41.45%;
          height: 4em;
          position: fixed;
          bottom: 0;
          right: 0;
          background-color: #242729;
          color: #d0d4d7;
          box-sizing: border-box;
          font-size: 13px;
          z-index: 10;
          ul{
            padding: 10px 20px;
            margin: 0;
            height: 100%;
            li{
              display: inline-block;
              padding: 6px 10px;
              cursor: pointer;
              border: 1px solid transparent;
              margin-right: 10px;
              &.selected{
                background-color: #55B6EF;
                color: #ffffff;
                border-radius: 4px;
                border: 1px solid #55B6EF;
              }
              &.selected:hover{
                border: 1px solid #55B6EF;
              }
            }
            li:hover{
              border: 1px solid #33383B;
              border-radius: 4px;
            }
          }
    }
      }
      td:first-child{
         border-bottom:1px solid rgba(153,153,153,0.1);
      }
      td:last-child{
        background-color: #25323A;
        border-bottom: 1px solid #344047;
      }
    }
  }
}
pre{
    display: block;
    font-size: 13px;
    line-height: 1;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    width: 40em;
    overflow: auto;
}
code{
  width: 80em;
}
pre code{
  white-space: inherit;
}