body{
    font-family: 'Open Sans',Helvetica,Arial,sans-serif !important;color: #4e5665 !important;
}

*{
	padding: 0px;
	margin: 0px;
}

.whole_body {
	display: block;

	.body_wrapper {
		width: 100%;
		min-width: 1024px;
		max-width: 1920px;
		margin: 0px auto;
		background-color: #fff;

		.main_body {
			display: block;
			width: 100%;

			.main_work_part {
				width: 100%;
				padding-top: 4em;
				height: auto;

				.form_wrap {
					padding-top: 0.5em;
					float: right;
					width: 100%;
					padding-right: 30px;
					padding-bottom: 1.5em;

					h1 {
						float: left;
						margin-left: 1em;
						text-transform: uppercase;
						font-weight: 600;
						color: #000;
						font-size: 15px;
						font-family: cursive;
					}

					button {
						text-transform: uppercase;
                        background-color: #507494;
                        border: none;
                        color: #fff;
                        font-size: 10px;
                        padding: 0px 0px;
                        border-radius: 0px;
                        font-weight: 600;
                        display: inline-block;
                        vertical-align: bottom;
                        float: right;
                        margin-top: 1em;
                        margin-bottom: 1em;

                        a {
                        	color: #fff;
                        	text-decoration: none;
                        	display: inline-block;
                        	padding: 5px 10px;
                        }
					}
				}

				.first_section {
					width: 15%;
					float: left;
					height: 100%;
					position: fixed;
					background-color: #f9f9f9;
					font-family: cursive;
					font-size: 10px;

					ul {
						margin-left: 0px;
						text-transform: uppercase;
						font-weight: 600;
						margin-bottom: 0px;
						margin-top: 36px;
						width: 100%;
						height: auto;
						line-height: 1.5em;
						color: #000;

						:hover {
							background-color: #fff;
						}	

						li {
							margin-bottom: 0px;
							list-style: none;
							padding-left: 0px;

						    a {
							    text-decoration: none;
							    width: 100%; 
							    color: #000;
							    display: inline-block;
							    padding: 10px 41px;
						    }
					    }
					}	
				}

				.active {
							background-color: #fff;
							color: #000;
						}

				.second_section {
					width: 85%;
					float: right;
					height: auto;

					table {
						width: 100%;
						padding: 0px 15px 15px 0px;

						th {
							text-align: center;
							text-transform: uppercase;
							font-family: cursive;
						}
					}
				}
			}
		}
	}
}

.navform_body {
	width: 100%;

	.navform_mainbody {
		width: 35%;
		margin: auto;

		.work_body {
			padding-left: 0px;

			h3 {
			text-align: center;
			font-weight: 600;
			}

			.row {
			margin-left: 0px;
			margin-right: 0px;

			.form-control {
				border-radius: 0px;
				width: 100%;
				padding: 0px;
			}

			.col-md-4 {
				width: 100%;

				#comments {
					width: 100%;
				}
			}
			}
		}
    }
}

.app_body {
	width: 96%;
	margin: auto;
	padding-top: 4em;

	.form_wrap {
		padding-top: 0.5em;
		width: 96%;
		padding-bottom: 0.5em;
		margin: auto;

		h1 {
			float: left;
			text-transform: uppercase;
			font-weight: 600;
			color: #000;
			font-size: 15px;
			font-family: cursive;
		}

		button  {
			text-transform: uppercase;
            background-color: #507494;
            border: none;
            color: #fff;
            font-size: 10px;
            padding: 0px 0px;
            border-radius: 0px;
            font-weight: 600;
            display: inline-block;
            vertical-align: bottom;
            float: right;
            margin-top: 1em;
            margin-bottom: 1em;

            a {
            	color: #fff;
                text-decoration: none;
                display: inline-block;
                padding: 5px 10px;
            }
		}
	}

	table {
		width: 100%;

		th {
			text-align: center;
			text-transform: uppercase;
			font-family: cursive;
		}
	}
}