{% extends "admin/layout.html" %}
{% block body %}
<head>
	{{ title }}
</head>
	<div class="whole_body">
		<div class="body_wrapper">
			<div class="main_body">

				<header class="clearfix">
			        <div class="logo-section">
			            <img src="../static/img/traclist-logo-white.png" alt="">
			        </div>
			        <div class="navigation-section">
			            <ul>
			                <li><a href="">Application</a></li>
			                <li><a href="">Navigation</a></li>
			                <li><a href="">Programing Language</a></li>
			            </ul>
			        </div>
    			</header>

    			<div class="app_body clearfix">
    				<div class="form_wrap clearfix">
                		<h1>Documentation Apps</h1>
                		<form>
                    		<button><a>Add App</a></button>
                		</form>
            		</div>

            		<table>
    					<tr>
    						<th>App Name</th>
    						<th>Description</th>
    						<th>Actions</th>
    					</tr>
    			    </table>
    			</div>
			</div>
		</div>
	</div>
{% endblock %}