{% extends "admin/layout.html" %}
{% block body %}
<body class="navform_body">
	<div class="navform_mainbody">
		<div class="work_body">
			<h3>Application Form</h3>
			<form action="" method="post" name="login">
				{{ form.hidden_tag() }}
				<p>
					Please enter your OpenID:<br>
					{{ form.openid(size=50) }}
					{% for error in form.openid.errors %}
						<span style='color:red;'>[{{ error }}]</span>
					{% endfor %}
				</p>
			</form>
		</div>
	</div>
</body>
{% endblock %}