{% extends "layout.html" %}

{% block body %}
<div class="whole_body">
<div class="body_wrapper" style="padding-top:0em;">
<div class="main_body">

    <header class="clearfix">
        <div class="logo-section">
            <img src="../static/img/traclist-logo-white.png" alt="">
        </div>
        <div class="navigation-section">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Guilds</a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Libraries</a></li>
            </ul>
        </div>
    </header>

    <div class="main_work_part clearfix">
        

        <div class="first_section clearfix">
            <ul>
                <li><a href="{{ url_for('navigation') }}">Navigation Bar</a></li>
                <li class="active"><a href="{{ url_for('content') }}">Content Area</a></li>
                <li><a href="{{ url_for('code') }}">Code area</a></li>
            </ul>
        </div>

        <div class="second_section clearfix">
            <div class="form_wrap">
                <h1>Content Area</h1>
                <form>
                    <button>Add Content</button>
                </form>
            </div>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Navigation id</th>
                    <th>Handle</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

</div>
</div>
</div>

{% endblock %}