<!doctype html>
<html class="no-js" lang="" ng-app="myApp" ng-controller="mainController">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/highlight/styles/solarized-dark.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font/fonts.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

    </head>
    <body data-spy="scroll" data-target="#wrap" data-offset="15">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->


          <div id="wrap" class="wrapper">
          
            {% block body %}{% endblock %}
            
          </div>
          



        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-1.11.3.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/highlight/highlight.pack.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular-animate.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular-ui-router.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/general.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
