{% extends "layout.html" %}
{% block body %}
<body class="navform_body">
<div class="navform_mainbody">
<div class="work_body">
	<h3>Navigation Form</h3>
<form action='' id='theform'>
<div class='row'>
    <div class="form-group col-md-4">
            <label for="name">Name:</label>
            <input type='text' name='name' class='form-control'/>
    </div>
</div>

<div class='row'>
    <div class="form-group col-md-4">
            <label for="email">Navigation ID:</label>
            <p><input type='text' class='form-control'/></p>
    </div>
</div>

<div class='row'>
    <div class="form-group col-md-4">
            <label for="email">Handle:</label>
            <input type='text' class='form-control'/>
    </div>
</div> 

<div class='row'>
    <div class="form-group col-md-4">
            <label for="email">Description:</label> <br>
            <textarea name="comments" id="comments"></textarea>
    </div>
</div>  

<div class='row'>
    <div class="form-group col-md-4">
         <input class='btn btn-primary pull-right' type="button" value="Submit" id='btnsubmit'/>   
    </div>
</div>
</form>
</div>
</div>
</body>
{% endblock %}