{% extends "layout.html" %}

{% block body %}
<div class="clearfix">
    <header class="clearfix">
        <div class="logo-section">
            <img src="static/img/traclist-logo-white.png" alt="">
        </div>
        <div class="navigation-section">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Guilds</a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Libraries</a></li>
            </ul>
        </div>
    </header>
	<nav class="side-navigation header-space">
        <div class="nav-wrap">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">INTRODUCTION</a></li>
                <li><a href="#section2">API REFERENCE</a></li>
                <li><a href="#section3">AUTHENTICATION</a></li>
                <li><a href="#section4">ERRORS</a></li>
                <li><a href="#section5">EXPANDING OBJECTS</a></li>
                <li><a href="#section6">IDEMPOTENT REQUESTS</a></li>
                <li><a href="#section7">METADATA</a></li>
                <li><a href="#section8">PAGINATION</a></li>
                <li><a href="#section9">REQUEST IDS</a></li>
              </ul>
        </div>
    </nav>
    <div class="main-content header-space" >
        <section class="group">
            <table>
                <tr>
                    <td>
                        <div class="group-area">
                            <div id="section1">
                                <div class="title">Introduction</div>
                                <div class="content">
                                    The Stripe API is organized around REST. Our API has predictable, resource-oriented URLs,
                                    and uses HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP
                                    authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We support
                                    cross-origin resource sharing, allowing you to interact securely with our API from a client-side
                                    web application (though you should never expose your secret API key in any public website's
                                    client-side code). JSON is returned by all API responses, including errors, although our API
                                    libraries convert responses to appropriate language-specific objects.
                                    To make the API as explorable as possible, accounts have test mode and live mode API keys.
                                    There is no "switch" for changing between modes, just use the appropriate key to perform a
                                    live or test transaction. Requests made with test mode credentials never hit the banking
                                    networks and incur no cost.
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="code-nav">
                            <ul ng-init=" selected = 'python' ">
                                <li ng-class="{selected :selected === 'php'}" ng-click="selected = 'php' ">PHP</li>
                                <li ng-class="{selected :selected === 'java'}" ng-click="selected = 'java' ">JAVA</li>
                                <li ng-class="{selected :selected === 'python'}" ng-click="selected = 'python' ">Python</li>
                                <li ng-class="{selected :selected === 'ruby'}" ng-click="selected = 'ruby' ">Ruby</li>
                                <li ng-class="{selected :selected === 'curl'}" ng-click="selected = 'curl' ">curl</li>
                                <li ng-class="{selected :selected === 'node'}" ng-click="selected = 'node' ">Node</li>
                                <li ng-class="{selected :selected === 'go'}" ng-click="selected = 'go' ">Go</li>
                            </ul>
                        </div>
                        <div class="group-code nav-space">
                            <div class="content">

                                    <pre>
                                        <code>
                                            @main.route('/resend/token/')
                                            @login_required
                                            def resend_token():
                                                user = current_user

                                                token = ConfirmationToken.query.all()

                                                if not token:

                                                    token = ConfirmationToken(email=user.email, user_id=user.id)

                                                    if user.referral_token:
                                                        token.referral_code = user.referral_token

                                                    db.session.add(token)

                                                    db.session.commit()

                                                html, text = templating.generate_email_content("confirm_email", data=locals())

                                                messaging.send_email.delay(to=[user.email], subject="Text"

                                                return render_domain_template('resend_token.html', **locals())


                                        </code>
                                    </pre>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <section class="group">
            <table>
                <tr>
                    <td>
                        <div class="group-area">
                <div id="section2">
                    <div class="title">API Reference</div>
                    <div class="content">
                        <p>
                            Authenticate your account when using the API by including your secret API key in
                            the request. You can manage your API keys in the Dashboard. Your API keys carry many
                            privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                            accessible areas such GitHub, client-side code, and so forth.
                        </p>
                        <p>
                            To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                            then automatically send this key in each request.
                        </p>
                        <p>
                            All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                            API requests without authentication will also fail.
                        </p>
                    </div>
                </div>
            </div>
                    </td>
                    <td>
                        <div class="group-code">
                <div class="content">

                </div>
            </div>
                    </td>
                </tr>
            </table>
        </section>

        <section class="group">
            <table>
                <tr>
                    <td>
                       <div class="group-area">
                            <div id="section3">
                                <div class="title">Authentication</div>
                                <div class="content">
                                <p>
                                    Authenticate your account when using the API by including your secret API key in
                                    the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                    privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                    accessible areas such GitHub, client-side code, and so forth.
                                </p>
                                <p>
                                    To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                    then automatically send this key in each request.
                                </p>
                                <p>
                                    All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                    API requests without authentication will also fail.
                                </p>
                                <p>
                                    Authenticate your account when using the API by including your secret API key in
                                    the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                    privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                    accessible areas such GitHub, client-side code, and so forth.
                                </p>
                                <p>
                                    To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                    then automatically send this key in each request.
                                </p>
                                <p>
                                    All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                    API requests without authentication will also fail.
                                </p>
                            </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="group-code">
                            <div class="content">

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <section class="group">
            <table>
                <tr>
                    <td>
                       <div class="group-area">
                            <div id="section4">
                                <div class="title">Errors</div>
                                <div class="content">
                                <p>
                                    Authenticate your account when using the API by including your secret API key in
                                    the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                    privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                    accessible areas such GitHub, client-side code, and so forth.
                                </p>
                                <p>
                                    To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                    then automatically send this key in each request.
                                </p>
                                <p>
                                    All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                    API requests without authentication will also fail.
                                </p>
                                <p>
                                    Authenticate your account when using the API by including your secret API key in
                                    the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                    privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                    accessible areas such GitHub, client-side code, and so forth.
                                </p>
                                <p>
                                    To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                    then automatically send this key in each request.
                                </p>
                                <p>
                                    All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                    API requests without authentication will also fail.
                                </p>
                            </div>
                            </div>
                        </div>
                    </td>
                    <td>
                       <div class="group-code">
                            <div class="content">

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <section class="group">
            <table>
                <tr>
                    <td>
                        <div class="group-area">
                            <div id="section5">
                                <div class="title">Expanding Objects</div>
                                <div class="content">
                                <p>
                                    Authenticate your account when using the API by including your secret API key in
                                    the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                    privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                    accessible areas such GitHub, client-side code, and so forth.
                                </p>
                                <p>
                                    To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                    then automatically send this key in each request.
                                </p>
                                <p>
                                    All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                    API requests without authentication will also fail.
                                </p>
                                <p>
                                    Authenticate your account when using the API by including your secret API key in
                                    the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                    privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                    accessible areas such GitHub, client-side code, and so forth.
                                </p>
                                <p>
                                    To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                    then automatically send this key in each request.
                                </p>
                                <p>
                                    All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                    API requests without authentication will also fail.
                                </p>
                            </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="group-code">
                            <div class="content">

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <section class="group">
            <table>
                <tr>
                    <td>
                        <div class="group-area">
                            <div id="section6">
                                <div class="title">Idempotent Requests</div>
                                <div class="content">
                                <p>
                                    Authenticate your account when using the API by including your secret API key in
                                    the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                    privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                    accessible areas such GitHub, client-side code, and so forth.
                                </p>
                                <p>
                                    To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                    then automatically send this key in each request.
                                </p>
                                <p>
                                    All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                    API requests without authentication will also fail.
                                </p>
                                <p>
                                    Authenticate your account when using the API by including your secret API key in
                                    the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                    privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                    accessible areas such GitHub, client-side code, and so forth.
                                </p>
                                <p>
                                    To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                    then automatically send this key in each request.
                                </p>
                                <p>
                                    All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                    API requests without authentication will also fail.
                                </p>
                            </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="group-code">
                            <div class="content">

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <section class="group">
            <table>
                <tr>
                    <td>
                        <div class="group-area">
                            <div id="section7">
                                <div class="title">Metadata</div>
                                <div class="content">
                                        <p>
                                                Authenticate your account when using the API by including your secret API key in
                                                the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                                privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                                accessible areas such GitHub, client-side code, and so forth.
                                            </p>
                                        <p>
                                                To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                                then automatically send this key in each request.
                                            </p>
                                        <p>
                                                All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                                API requests without authentication will also fail.
                                            </p>
                                        <p>
                                                Authenticate your account when using the API by including your secret API key in
                                                the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                                privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                                accessible areas such GitHub, client-side code, and so forth.
                                            </p>
                                        <p>
                                                To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                                then automatically send this key in each request.
                                            </p>
                                        <p>
                                            All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                            API requests without authentication will also fail.
                                        </p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="group-code">
                            <div class="content">
                                <pre>
                                    <code>
                                        @main.route('/resend/token/')
                                        @login_required
                                        def resend_token():
                                            user = current_user

                                            token = ConfirmationToken.query.all()

                                            if not token:

                                                token = ConfirmationToken(email=user.email, user_id=user.id)

                                                if user.referral_token:
                                                    token.referral_code = user.referral_token

                                                db.session.add(token)

                                                db.session.commit()

                                            html, text = templating.generate_email_content("confirm_email", data=locals())

                                            messaging.send_email.delay(to=[user.email], subject="Text"

                                            return render_domain_template('resend_token.html', **locals())


                                    </code>
                                </pre>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <section class="group">
            <table>
                <tr>
                    <td>
                       <div class="group-area">
                            <div id="section8">
                                <div class="title">Pagination</div>
                                <div class="content">
                                            <p>
                                                Authenticate your account when using the API by including your secret API key in
                                                the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                                privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                                accessible areas such GitHub, client-side code, and so forth.
                                            </p>
                                            <p>
                                                To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                                then automatically send this key in each request.
                                            </p>
                                            <p>
                                                All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                                API requests without authentication will also fail.
                                            </p>
                                            <p>
                                                Authenticate your account when using the API by including your secret API key in
                                                the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                                privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                                accessible areas such GitHub, client-side code, and so forth.
                                            </p>
                                            <p>
                                                To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                                then automatically send this key in each request.
                                            </p>
                                            <p>
                                                All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                                API requests without authentication will also fail.
                                            </p>
                                        </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="group-code">
                            <div class="content">

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <section class="group">
            <table>
                <tr>
                    <td>
                       <div class="group-area">
                            <div id="section9">
                                <div class="title">Request IDs</div>
                                <div class="content">
                                            <p>
                                                Authenticate your account when using the API by including your secret API key in
                                                the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                                privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                                accessible areas such GitHub, client-side code, and so forth.
                                            </p>
                                            <p>
                                                To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                                then automatically send this key in each request.
                                            </p>
                                            <p>
                                                All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                                API requests without authentication will also fail.
                                            </p>
                                            <p>
                                                Authenticate your account when using the API by including your secret API key in
                                                the request. You can manage your API keys in the Dashboard. Your API keys carry many
                                                privileges, so be sure to keep them secret! Do not share your secret API keys in publicly
                                                accessible areas such GitHub, client-side code, and so forth.
                                            </p>
                                            <p>
                                                To use your API key, assign it to <code>stripe.api_key</code>. The Python library will
                                                then automatically send this key in each request.
                                            </p>
                                            <p>
                                                All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
                                                API requests without authentication will also fail.
                                            </p>
                                        </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="group-code">
                            <div class="content">

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

    </div>
</div>
{% endblock %}